<!-- tabs/building-data-tab/building-data-tab.component.html -->
<div class="building-data-section">
    <div class="section-header">
      <h2>Ihre Angaben und Basisdaten</h2>
      <div class="edit-controls">
        <button *ngIf="!isEditMode" class="edit-button" (click)="toggleEditMode()">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
          </svg>
          Bearbeiten
        </button>
        <div *ngIf="isEditMode" class="action-buttons">
          <button class="cancel-button" (click)="cancelChanges()">Abbrechen</button>
          <button class="save-button" (click)="saveChanges()">Speichern</button>
        </div>
      </div>
      <div id="saved-message" class="saved-message">Änderungen gespeichert</div>
    </div>
    
    <h3>Objekt: {{building.buildingType}} {{building.address}}</h3>
  
    <!-- Basic Building Data Table -->
    <div class="data-table">
      <table>
        <tr>
          <th>Eigenschaft</th>
          <th>Wert</th>
          <th>Eigenschaft</th>
          <th>Wert</th>
        </tr>
        <tr>
          <td>Eigentümerstruktur</td>
          <td>
            <ng-container *ngIf="!isEditMode">{{building.ownerStructure}}</ng-container>
            <input *ngIf="isEditMode" type="text" [(ngModel)]="editableBuilding!.ownerStructure" class="edit-input">
          </td>
          <td>Gibt es nachträgliche Anbauten</td>
          <td>
            <ng-container *ngIf="!isEditMode">{{building.additionalConstruction ? 'Ja' : 'Nein'}}</ng-container>
            <label *ngIf="isEditMode" class="toggle-switch">
              <input type="checkbox" [checked]="editableBuilding!.additionalConstruction" 
                     (change)="onCheckboxChange($event, editableBuilding!, 'additionalConstruction')">
              <span class="toggle-slider"></span>
            </label>
          </td>
        </tr>
        <tr>
          <td>Baujahr</td>
          <td>
            <ng-container *ngIf="!isEditMode">{{building.buildingYear}}</ng-container>
            <input *ngIf="isEditMode" type="number" [(ngModel)]="editableBuilding!.buildingYear" class="edit-input">
          </td>
          <td>Anzahl Wohn-& Gewerbeeinheiten</td>
          <td>
            <ng-container *ngIf="!isEditMode">{{building.units.total}}</ng-container>
            <div *ngIf="isEditMode" class="input-group">
              <input type="number" [(ngModel)]="editableBuilding!.units.total" class="edit-input small-input">
              <span>davon</span>
              <input type="number" [(ngModel)]="editableBuilding!.units.commercial" class="edit-input small-input">
              <span>gewerblich</span>
            </div>
          </td>
        </tr>
        <tr>
          <td>Anzahl Vollgeschosse</td>
          <td>
            <ng-container *ngIf="!isEditMode">{{building.floors}}</ng-container>
            <input *ngIf="isEditMode" type="number" [(ngModel)]="editableBuilding!.floors" class="edit-input">
          </td>
          <td>Wohnfläche in m²</td>
          <td>
            <ng-container *ngIf="!isEditMode">{{building.livingSpace}}</ng-container>
            <input *ngIf="isEditMode" type="number" [(ngModel)]="editableBuilding!.livingSpace" class="edit-input">
          </td>
        </tr>
        <tr>
          <td>Angrenzende Gebäude</td>
          <td>
            <ng-container *ngIf="!isEditMode">{{building.adjacentBuildings ? 'Ja' : 'Nein'}}</ng-container>
            <label *ngIf="isEditMode" class="toggle-switch">
              <input type="checkbox" [checked]="editableBuilding!.adjacentBuildings" 
                     (change)="onCheckboxChange($event, editableBuilding!, 'adjacentBuildings')">
              <span class="toggle-slider"></span>
            </label>
          </td>
          <td>Gewerbefläche in m² (beheizt)</td>
          <td>
            <ng-container *ngIf="!isEditMode">{{building.commercialSpace}}</ng-container>
            <input *ngIf="isEditMode" type="number" [(ngModel)]="editableBuilding!.commercialSpace" class="edit-input">
          </td>
        </tr>
        <tr>
          <td>Anzahl Wohneinheiten</td>
          <td>
            <ng-container *ngIf="!isEditMode">3</ng-container>
            <input *ngIf="isEditMode" type="number" value="3" class="edit-input">
          </td>
          <td>Grundfläche</td>
          <td>
            <ng-container *ngIf="!isEditMode">ca. {{building.baseArea}} m²</ng-container>
            <div *ngIf="isEditMode" class="input-group">
              <span>ca.</span>
              <input type="number" [(ngModel)]="editableBuilding!.baseArea" class="edit-input">
              <span>m²</span>
            </div>
          </td>
        </tr>
        <tr>
          <td>Davon Selbstbezug</td>
          <td>
            <ng-container *ngIf="!isEditMode">{{building.selfOccupied}}</ng-container>
            <input *ngIf="isEditMode" type="number" [(ngModel)]="editableBuilding!.selfOccupied" class="edit-input">
          </td>
           <td>Gebäudetyp</td>
        <td>
          <ng-container *ngIf="!isEditMode">{{building.buildingType}}</ng-container>
          <select *ngIf="isEditMode" [(ngModel)]="editableBuilding!.buildingType" class="edit-input">
            <option value="EFH">Einfamilienhaus</option>
            <option value="ZFH">Zweifamilienhaus</option>
            <option value="MFH">Mehrfamilienhaus</option>
            <option value="RH">Reihenhaus</option>
            <option value="DHH">Doppelhaushälfte</option>
          </select>
        </td>
        </tr>
        <tr>
          <td>Selbstgenutzte Wohnfläche</td>
          <td>
            <ng-container *ngIf="!isEditMode">{{building.selfUsedLivingSpace}} m²</ng-container>
            <div *ngIf="isEditMode" class="input-group">
              <input type="number" [(ngModel)]="editableBuilding!.selfUsedLivingSpace" class="edit-input">
              <span>m²</span>
            </div>
          </td>
          <td>Flurstücksgröße ca.</td>
          <td>
            <ng-container *ngIf="!isEditMode">{{building.plotSize}} m²</ng-container>
            <div *ngIf="isEditMode" class="input-group">
              <input type="number" [(ngModel)]="editableBuilding!.plotSize" class="edit-input">
              <span>m²</span>
            </div>
          </td>
        </tr>
        <tr>
          <td>Anzahl Gewerbeeinheiten</td>
          <td>
            <ng-container *ngIf="!isEditMode">{{building.units.commercial}}</ng-container>
            <input *ngIf="isEditMode" type="number" [(ngModel)]="editableBuilding!.units.commercial" class="edit-input">
          </td>
          <td>Anzahl Personen im Haus</td>
          <td>
            <ng-container *ngIf="!isEditMode">{{building.residents}}</ng-container>
            <input *ngIf="isEditMode" type="number" [(ngModel)]="editableBuilding!.residents" class="edit-input">
          </td>
        </tr>
        <td>Gesamtfläche in m²</td>  <!-- ← HERE IS THE NEW FIELD -->
      <td>
        <ng-container *ngIf="!isEditMode">{{calculateTotalArea(building)}}</ng-container>
        <ng-container *ngIf="isEditMode">{{calculateTotalArea(editableBuilding!)}}</ng-container>
      </td>
      </table>
    </div>
  
    <!-- Heating Table -->
    <div class="data-table">
      <table>
        <tr>
          <th colspan="4">Heizung</th>
        </tr>
        <tr>
          <td>Energieträger</td>
          <td>
            <ng-container *ngIf="!isEditMode">{{building.heating.type}}</ng-container>
            <select *ngIf="isEditMode" [(ngModel)]="editableBuilding!.heating.type" class="edit-input">
              <option value="Gas">Gas</option>
              <option value="Öl">Öl</option>
              <option value="Strom">Strom</option>
              <option value="Fernwärme">Fernwärme</option>
              <option value="Wärmepumpe">Wärmepumpe</option>
              <option value="Pellets">Pellets</option>
            </select>
          </td>
          <td>Sanierungsjahr (anderes als Haus)</td>
          <td>
            <ng-container *ngIf="!isEditMode">{{building.heating.renovationYear || 'Nein'}}</ng-container>
            <input *ngIf="isEditMode" type="number" [(ngModel)]="editableBuilding!.heating.renovationYear" class="edit-input" placeholder="Nein">
          </td>
        </tr>
        <tr>
          <td>Heizflächen</td>
          <td>
            <ng-container *ngIf="!isEditMode">{{building.heating.surfaces}}</ng-container>
            <select *ngIf="isEditMode" [(ngModel)]="editableBuilding!.heating.surfaces" class="edit-input">
              <option value="Heizkörper">Heizkörper</option>
              <option value="Fußbodenheizung">Fußbodenheizung</option>
              <option value="Wandheizung">Wandheizung</option>
              <option value="Gemischt">Gemischt</option>
            </select>
          </td>
        </tr>
      </table>
    </div>
    
    <!-- Hot Water Table -->
    <div class="data-table">
      <table>
        <tr>
          <th colspan="4">Warmwasser</th>
        </tr>
        <tr>
          <td>Warmwasseraufbereitung</td>
          <td>
            <ng-container *ngIf="!isEditMode">{{building.hotWater.source}}</ng-container>
            <select *ngIf="isEditMode" [(ngModel)]="editableBuilding!.hotWater.source" class="edit-input">
              <option value="Nur über Heizung">Nur über Heizung</option>
              <option value="Separate Anlage">Separate Anlage</option>
              <option value="Durchlauferhitzer">Durchlauferhitzer</option>
              <option value="Boiler">Boiler</option>
              <option value="Warmwasserwärmepumpe">Warmwasserwärmepumpe</option>
            </select>
          </td>
        </tr>
      </table>
    </div>
    
    <!-- Roof Table -->
    <div class="data-table">
      <table>
        <tr>
          <th colspan="4">Dach</th>
        </tr>
        <tr>
          <td>Dachform</td>
          <td>
            <ng-container *ngIf="!isEditMode">{{building.roof.form}}</ng-container>
            <select *ngIf="isEditMode" [(ngModel)]="editableBuilding!.roof.form" class="edit-input">
              <option value="versch. Dachtypen">versch. Dachtypen</option>
              <option value="Satteldach">Satteldach</option>
              <option value="Flachdach">Flachdach</option>
              <option value="Pultdach">Pultdach</option>
              <option value="Walmdach">Walmdach</option>
              <option value="Mansarddach">Mansarddach</option>
            </select>
          </td>
          <td>Dachausrichtung (Himmelsrichtung)</td>
          <td>
            <ng-container *ngIf="!isEditMode">{{building.roof.orientation.direction}}</ng-container>
            <input *ngIf="isEditMode" type="text" [(ngModel)]="editableBuilding!.roof.orientation.direction" class="edit-input">
          </td>
        </tr>
        <tr>
          <td>Dachnutzung</td>
          <td>
            <ng-container *ngIf="!isEditMode">{{building.roof.usage}}</ng-container>
            <select *ngIf="isEditMode" [(ngModel)]="editableBuilding!.roof.usage" class="edit-input">
              <option value="genutzt/beheizt">genutzt/beheizt</option>
              <option value="ungenutzt/unbeheizt">ungenutzt/unbeheizt</option>
              <option value="teilweise genutzt">teilweise genutzt</option>
            </select>
          </td>
          <td>Dachfläche in m²</td>
          <td>
            <ng-container *ngIf="!isEditMode">ca. {{building.roof.orientation.area.sso}} / {{building.roof.orientation.area.ono}}</ng-container>
            <div *ngIf="isEditMode" class="input-group">
              <span>ca.</span>
              <input type="number" [(ngModel)]="editableBuilding!.roof.orientation.area.sso" class="edit-input small-input">
              <span>/</span>
              <input type="number" [(ngModel)]="editableBuilding!.roof.orientation.area.ono" class="edit-input small-input">
            </div>
          </td>
        </tr>
        <tr>
          <td>Dachfläche</td>
          <td>
            <ng-container *ngIf="!isEditMode">ca. {{building.roof.area}} m²</ng-container>
            <div *ngIf="isEditMode" class="input-group">
              <span>ca.</span>
              <input type="number" [(ngModel)]="editableBuilding!.roof.area" class="edit-input">
              <span>m²</span>
            </div>
          </td>
          <td>Anzahl Gauben & Dachfenster</td>
          <td>
            <ng-container *ngIf="!isEditMode">{{building.roof.skylights}} Dachfenster</ng-container>
            <div *ngIf="isEditMode" class="input-group">
              <input type="number" [(ngModel)]="editableBuilding!.roof.skylights" class="edit-input">
              <span>Dachfenster</span>
            </div>
          </td>
        </tr>
          <tr>
          <td>Sanierungsjahr (anderes als Haus)</td>
          <td>
            <ng-container *ngIf="!isEditMode">{{building.roof.saniert || 'Nicht saniert'}}</ng-container>
            <select *ngIf="isEditMode" [(ngModel)]="editableBuilding!.roof.saniert" class="edit-input" (change)="updateSaniertPeriod($event)">
              <option *ngFor="let option of saniertPeriodOptions" [value]="option.value">
                {{option.label}}
              </option>
            </select>
          </td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
    
    <!-- Facade Table -->
  <div class="data-table">
      <table>
        <tr>
          <th colspan="4">Fassade</th>
        </tr>
        <tr>
          <td>Bauweise</td>
          <td>
            <ng-container *ngIf="!isEditMode">{{building.facade.construction}}</ng-container>
            <select *ngIf="isEditMode" [(ngModel)]="editableBuilding!.facade.construction" class="edit-input">
              <option value="Massiv">Massiv</option>
              <option value="Holzbau">Holzbau</option>
              <option value="Stahlbeton">Stahlbeton</option>
              <option value="Mischbauweise">Mischbauweise</option>
            </select>
          </td>
           <td>Sanierungsjahr (anderes als Haus)</td>
          <td>
            <ng-container *ngIf="!isEditMode">{{building.facade.saniert || 'Nicht saniert'}}</ng-container>
            <select *ngIf="isEditMode" [(ngModel)]="editableBuilding!.facade.saniert" class="edit-input" (change)="updateFacadeSaniertPeriod($event)">
              <option *ngFor="let option of saniertPeriodOptions" [value]="option.value">
                {{option.label}}
              </option>
            </select>
          </td>
        </tr>
      </table>
    </div>
    
    <!-- Windows Table -->
    <div class="data-table">
      <table>
        <tr>
          <th colspan="4">Fenster</th>
        </tr>
        <tr>
          <td>Verglasung</td>
          <td>
            <ng-container *ngIf="!isEditMode">{{building.windows.glazing}}</ng-container>
            <select *ngIf="isEditMode" [(ngModel)]="editableBuilding!.windows.glazing" class="edit-input">
              <option value="2-fach">2-fach</option>
              <option value="3-fach">3-fach</option>
              <option value="Einfachverglasung">Einfachverglasung</option>
              <option value="Verschiedene">Verschiedene</option>
            </select>
          </td>
          <td>Rahmenmaterial</td>
          <td>
            <ng-container *ngIf="!isEditMode">{{building.windows.frameMaterial}}</ng-container>
            <select *ngIf="isEditMode" [(ngModel)]="editableBuilding!.windows.frameMaterial" class="edit-input">
              <option value="Kunststoff">Kunststoff</option>
              <option value="Holz">Holz</option>
              <option value="Kunststoff & Holz">Kunststoff & Holz</option>
              <option value="Aluminium">Aluminium</option>
              <option value="Gemischt">Gemischt</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Sanierungsjahr (anderes als Haus)</td>
          <td>
            <ng-container *ngIf="!isEditMode">{{building.windows.saniert || 'Nicht saniert'}}</ng-container>
            <select *ngIf="isEditMode" [(ngModel)]="editableBuilding!.windows.saniert" class="edit-input" (change)="updateWindowsSaniertPeriod($event)">
              <option *ngFor="let option of saniertPeriodOptions" [value]="option.value">
                {{option.label}}
              </option>
            </select>
          </td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
    
    <!-- Basement & Underground Garage Table -->
    <div class="data-table">
      <table>
        <tr>
          <th colspan="4">Keller & Tiefgarage</th>
        </tr>
        <tr>
          <td>Ist ein Keller vorhanden</td>
          <td>
            <ng-container *ngIf="!isEditMode">{{building.basement.exists ? 'Ja' : 'Nein'}}</ng-container>
            <label *ngIf="isEditMode" class="toggle-switch">
              <input type="checkbox" [checked]="editableBuilding!.basement.exists" 
                     (change)="onCheckboxChange($event, editableBuilding!.basement, 'exists')">
              <span class="toggle-slider"></span>
            </label>
          </td>
          <td>Ist Keller beheizt</td>
          <td>
            <ng-container *ngIf="!isEditMode">{{building.basement.heated ? 'Ja' : 'Nein'}}</ng-container>
            <label *ngIf="isEditMode" class="toggle-switch">
              <input type="checkbox" [checked]="editableBuilding!.basement.heated" 
                     (change)="onCheckboxChange($event, editableBuilding!.basement, 'heated')">
              <span class="toggle-slider"></span>
            </label>
          </td>
        </tr>
        <tr>
          <td>Teilunterkellert</td>
          <td>
            <ng-container *ngIf="!isEditMode">{{building.basement.partialBasement ? 'Ja' : 'Nein'}}</ng-container>
            <label *ngIf="isEditMode" class="toggle-switch">
              <input type="checkbox" [checked]="editableBuilding!.basement.partialBasement" 
                     (change)="onCheckboxChange($event, editableBuilding!.basement, 'partialBasement')">
              <span class="toggle-slider"></span>
            </label>
          </td>
          <td>Vollunterkellert</td>
          <td>
            <ng-container *ngIf="!isEditMode">{{building.basement.fullBasement ? 'Ja' : 'Nein'}}</ng-container>
            <label *ngIf="isEditMode" class="toggle-switch">
              <input type="checkbox" [checked]="editableBuilding!.basement.fullBasement" 
                     (change)="onCheckboxChange($event, editableBuilding!.basement, 'fullBasement')">
              <span class="toggle-slider"></span>
            </label>
          </td>
        </tr>
        <!-- <tr>
          <td>Gibt es eine Tiefgarage</td>
          <td>
            <ng-container *ngIf="!isEditMode">{{building.basement.hasUndergroundGarage ? 'Ja' : 'Nein'}}</ng-container>
            <label *ngIf="isEditMode" class="toggle-switch">
              <input type="checkbox" [checked]="editableBuilding!.basement.hasUndergroundGarage" 
                     (change)="onCheckboxChange($event, editableBuilding!.basement, 'hasUndergroundGarage')">
              <span class="toggle-slider"></span>
            </label>
          </td>
          <td>Ist Tiefgarage belüftet</td>
          <td>
            <ng-container *ngIf="!isEditMode">{{building.basement.isUndergroundGarageVentilated ? 'Ja' : 'Nein'}}</ng-container>
            <label *ngIf="isEditMode" class="toggle-switch">
              <input type="checkbox" [checked]="editableBuilding!.basement.isUndergroundGarageVentilated" 
                     (change)="onCheckboxChange($event, editableBuilding!.basement, 'isUndergroundGarageVentilated')">
              <span class="toggle-slider"></span>
            </label>
          </td>
        </tr> -->
        <tr>
          <td>Ist Tiefgarage beheizt</td>
          <td>
            <ng-container *ngIf="!isEditMode">{{building.basement.isUndergroundGarageHeated ? 'Ja' : 'Nein'}}</ng-container>
            <label *ngIf="isEditMode" class="toggle-switch">
              <input type="checkbox" [checked]="editableBuilding!.basement.isUndergroundGarageHeated" 
                     (change)="onCheckboxChange($event, editableBuilding!.basement, 'isUndergroundGarageHeated')">
              <span class="toggle-slider"></span>
            </label>
          </td>
          <td>Sanierungsjahr (anderes als Haus)</td>
          <td>
            <ng-container *ngIf="!isEditMode">{{building.basement.saniert || 'Nicht saniert'}}</ng-container>
            <select *ngIf="isEditMode" [(ngModel)]="editableBuilding!.basement.saniert" class="edit-input" (change)="updateBasementSaniertPeriod($event)">
              <option *ngFor="let option of saniertPeriodOptions" [value]="option.value">
                {{option.label}}
              </option>
            </select>
          </td>
        </tr>
      </table>
    </div>
    
    <!-- Photovoltaic Table -->
    <div class="data-table">
      <table>
        <tr>
          <th colspan="4">Photovoltaik</th>
        </tr>
        <tr>
          <td>Photovoltaik vorhanden</td>
          <td>
            <ng-container *ngIf="!isEditMode">{{building.photovoltaic.installed ? 'Ja' : 'Nein'}}</ng-container>
            <label *ngIf="isEditMode" class="toggle-switch">
              <input type="checkbox" [checked]="editableBuilding!.photovoltaic.installed" 
                     (change)="onCheckboxChange($event, editableBuilding!.photovoltaic, 'installed')">
              <span class="toggle-slider"></span>
            </label>
          </td>
          <td>Panel-/Modulfläche</td>
          <td>
            <ng-container *ngIf="!isEditMode">{{building.photovoltaic.panelArea}}</ng-container>
            <input *ngIf="isEditMode" type="number" [(ngModel)]="editableBuilding!.photovoltaic.panelArea" class="edit-input">
          </td>
        </tr>
        <tr>
          <td>Installierte Leistung</td>
          <td>
            <ng-container *ngIf="!isEditMode">{{building.photovoltaic.power}}</ng-container>
            <input *ngIf="isEditMode" type="number" [(ngModel)]="editableBuilding!.photovoltaic.power" class="edit-input">
          </td>
          <td>Anzahl Panele</td>
          <td>
            <ng-container *ngIf="!isEditMode">{{building.photovoltaic.panelCount}}</ng-container>
            <input *ngIf="isEditMode" type="number" [(ngModel)]="editableBuilding!.photovoltaic.panelCount" class="edit-input">
          </td>
        </tr>
      </table>
    </div>
    
    <!-- Consumption Table -->
    <div class="data-table">
      <table>
        <tr>
          <th colspan="4">Verbrauch</th>
        </tr>
        <tr>
          <td>Stromverbrauch</td>
          <td>
            <ng-container *ngIf="!isEditMode">{{building.consumption.electricity}}</ng-container>
            <input *ngIf="isEditMode" type="text" [(ngModel)]="editableBuilding!.consumption.electricity" class="edit-input">
          </td>
          <td>Warmwasserverbrauch</td>
          <td>
            <ng-container *ngIf="!isEditMode">{{building.consumption.hotWater}}</ng-container>
            <input *ngIf="isEditMode" type="text" [(ngModel)]="editableBuilding!.consumption.hotWater" class="edit-input">
          </td>
        </tr>
        <tr>
          <td>Heizungs- & Warmw.verbrauch</td>
          <td>
            <ng-container *ngIf="!isEditMode">{{building.consumption.heating}}</ng-container>
            <input *ngIf="isEditMode" type="text" [(ngModel)]="editableBuilding!.consumption.heating" class="edit-input">
          </td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>

    <div class="data-table hazard-classes-section">
  <table>
    <tr>
      <th>Gefahrenklasse</th>
      <th>Bewertung</th>
    </tr>
    <tr *ngFor="let hazardClass of building.hazardClasses; let i = index">
      <td>{{hazardClass.name}}</td>
      <td>
        <ng-container *ngIf="!isEditMode">
          <div class="hazard-level-container">
            <div class="hazard-level-bar">
              <div class="hazard-level-indicator {{getHazardLevelClass(hazardClass.level)}}"></div>
              <div class="hazard-level-labels">
                <span class="label-left">gering</span>
                <span class="label-right">hoch</span>
              </div>
            </div>
            <span class="hazard-level-text" [attr.data-level]="hazardClass.level">{{hazardClass.level}}</span>
          </div>
        </ng-container>
        <select *ngIf="isEditMode && editableBuilding" 
                [value]="editableBuilding.hazardClasses[i].level" 
                (change)="updateHazardLevel(i, $event)" 
                class="edit-input hazard-select">
          <option value="gering">gering</option>
          <option value="mittel">mittel</option>
          <option value="hoch">hoch</option>
        </select>
      </td>
    </tr>
  </table>
</div>
<!-- Building Valuation Table -->
<div class="data-table">
  <table>
    <tr>
      <th colspan="4">
        Wiederherstellungswert des Gebäudes
        <span class="valuation-tooltip-trigger">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="12" cy="12" r="10"></circle>
            <line x1="12" y1="16" x2="12" y2="12"></line>
            <circle cx="12" cy="8" r="0.5" fill="currentColor"></circle>
          </svg>
        </span>
      </th>
    </tr>
    <tr>
      <td>Baupreisindex 2025</td>
      <td>
        <ng-container *ngIf="!isEditMode">{{building.valuation?.baupreisindex2025}}</ng-container>
        <input *ngIf="isEditMode" type="number" [(ngModel)]="editableBuilding!.valuation!.baupreisindex2025" class="edit-input">
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Min. Versicherungswert 1914</td>
      <td>
        <ng-container *ngIf="!isEditMode">{{building.valuation?.minInsuranceValue1914}} Mark</ng-container>
        <div *ngIf="isEditMode" class="input-group">
          <input type="number" [(ngModel)]="editableBuilding!.valuation!.minInsuranceValue1914" class="edit-input">
          <span>Mark</span>
        </div>
      </td>
      <td>Max. Versicherungswert 1914</td>
      <td>
        <ng-container *ngIf="!isEditMode">{{building.valuation?.maxInsuranceValue1914}} Mark</ng-container>
        <div *ngIf="isEditMode" class="input-group">
          <input type="number" [(ngModel)]="editableBuilding!.valuation!.maxInsuranceValue1914" class="edit-input">
          <span>Mark</span>
        </div>
      </td>
    </tr>
    <tr>
      <td>Min. Versicherungssumme</td>
      <td>
        <ng-container *ngIf="!isEditMode">{{building.valuation?.minInsuranceSum}} €</ng-container>
        <div *ngIf="isEditMode" class="input-group">
          <input type="number" [(ngModel)]="editableBuilding!.valuation!.minInsuranceSum" class="edit-input">
          <span>€</span>
        </div>
      </td>
      <td>Max. Versicherungssumme</td>
      <td>
        <ng-container *ngIf="!isEditMode">{{building.valuation?.maxInsuranceSum}} €</ng-container>
        <div *ngIf="isEditMode" class="input-group">
          <input type="number" [(ngModel)]="editableBuilding!.valuation!.maxInsuranceSum" class="edit-input">
          <span>€</span>
        </div>
      </td>
    </tr>
  </table>
</div>
  </div>